.header {
    display: flex;
    flex: 1;
    background-color: darkgray;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    padding: 15px;
}

.imgCol a :hover {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    transform: scale(1.3);
    transition: 0.1s;
}

.imgCol {
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.info {
    color: white;
    text-align: center;
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tit {
    color: rgb(255, 255, 255);
}

.nav {
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: red;
    justify-content: space-around;
    text-decoration: none;
    border-radius: 15px;
}
.nav2 {
    display: flex;
    flex-direction: row;          /* Asegura que las opciones estén en fila */
    margin: 10px;
    padding: 10px;
    background-color: darkgray;        /* Fondo rojo */
    justify-content: space-around; /* Distribuye el espacio de manera uniforme */
    text-decoration: none;
    border-radius: 15px;
}
.materiasNav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.optionNav {
    color: white;
    font-size: 20px;
}
.elccionNav{
    display: flex;
    flex-direction: rows;
}
.imgBtnNav2{
    width: 15px;
    height: 15px;
}
.contImgNav2{
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.url{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.leng{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 10px;
}

.idioma{
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding-right: 5px;
}

a{
    text-decoration: none;
}
.contIntro{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    background-color: rgba(169, 169, 169, 0.301);
    padding: 10px;
    border-radius: 20px;
}
.txtIntro{
    display: flex;
    flex: 7;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 20px;

}
.imgGen{
    width: 80px;
    height: 80px;
}
body{
    padding-left: 5px;
    padding-right: 5px;
}
.imgIntro{
    display: flex;
    flex: 1;
    float: left;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgI{
    width: 170px;
    height: 140px;
}
.containerIF{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgba(169, 169, 169, 0.301);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
}
.titIF{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titleIF{
    margin-bottom: 0.01px;
}
.interactivityP{
    display: flex;
    flex-direction: row;
}
.buttonsContIF{
    display: flex;
    flex-direction: column;
    flex: 3;
    justify-content: space-around;
    background-color: darkgray;
    border-radius: 50px 0px 0px 50px;
}
.buttonsIF{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 50px;
    background-color: white;
}
.btnIF{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    color: white;
    border-color: darkgray;
    border-width: 3px;
    cursor: pointer;
}
.screen{
    display: flex;
    flex-direction: column;
    flex: 5;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 0px 50px 50px 0px;
}
.blancoIF{
    display: flex;
    flex: 0.1;
}
.contImgIF{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
.imgIF{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 400px;
    border-radius: 30px;
}
.reslutIF{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.btnReset{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#resIF{
    font-size: 40px;
}
.navPrinc{
    position: sticky;
    top: 20px;
}
.imgSOCmp{
    display: flex;
    flex: 1.2;
    width: 30px;
    height: 70px;
    border-radius: 20px;
    margin-right: 15px;
}
.imgSOEje{
    display: flex;
    flex: 1.2;
    width: 30px;
    height: 70px;
    border-radius: 20px;
    margin-left: 15px;
}
.txtSO{
    display: flex;
    flex: 3;
    color: white;
}
.contenidoSO{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    border-radius: 30px;
}
.contSO{
    background-color: darkgray;
    border-radius: 50px;
    padding: 15px;
    margin-bottom: 10px;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .6;
    transition: .9s ease;
    overflow: hidden; /* Oculta el contenido que sobrepasa el tamaño del div */
    position: relative;
}
.contSO:hover{
    cursor: grabbing;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
    background-color: red;
}
.contSO .contenidoSO {
    transition: transform 0.3s ease, filter 0.3s ease;
}
.contImgSO{
    display: flex;
    width: 850px;
    height: 420px;
    overflow: hidden; /* Oculta el contenido que sobrepasa el tamaño del div */
    position: relative;
    background-color: darkgray;
    border-radius: 50px 0px 50px 0px;
}
.contTitSo{
    background-color: white;
    border-radius: 50px 50px 0px 0px;
    padding: 5px;
}
.SOcont{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    text-align: justify;
}
.txtIntroSO{
    padding: 20px;
    padding-top: 10px;
    font-size: 20px;
    color: black;
}
.contenedorSitemasOp{
    background-color: rgba(169, 169, 169, 0.582);
    padding-bottom: 15px;
    border-radius: 50px 0px 50px 0px;
}